.onagre {
  --icon-theme: "Papirus";          
  --icon-size: 22;                  
  --font-family: "JetBrains Mono";  
  font-size: 24px;                  
  height: 600px;                    
  width: 800px;                     
  background: #36365400;            
  color: #ffffff;                   
  border-color: #ff0a0a;            
  border-width: 2px;                
  border-radius: 1.3%;              
  padding: 20px;                    

  .container {
    background: #076AFF;    
    color: #21fcc9;         
    border-color: #ffb10a;  
    border-width: 1px;      
    border-radius: 1.3%;    
    padding: 15px;

    .scrollable {
      background: #a606ff;
      border-color: #00ff96;
      border-radius: 3%;
      border-width: 3px;
      margin: 0px;
      width: 30px;

      .scroller {
        color: #ec0404;
        width: 26px;
        border-color: #13cc1c;
        border-radius: 1%;
        border-width: 2px;
      }
    }

    .search {
      padding: 2px;             
      background: #aae36a;      
      border-radius: 0;         
      border-width: 20px;       
      color: #1c16f1;
      border-color: #ff0b0b;    
      --width: fill;            
      --height: shrink;           
      --align-x: center;        
      --align-y: center;        

      .plugin-hint {
        background: #08fdb7;    
        border-radius: 2%;      
        border-width: 1px;      
        color: #000000;         
        border-color: #fc0000;  
        padding: 0;          
        --width: shrink;        
        --height: fill;       
        --align-x: left;
        --align-y: center;
      }

      .input {
        padding: 0px;                  
        background: #1923e8;            
        border-radius: 3%;              
        border-width: 1px;              
        color: #000000;                 
        border-color: #00e2ff;          
        font-size: 24px;                
        --text-width: fill;              
        --selection-color: #e31b50;     
        --placeholder-color: #ff078b;   
        --width: fill;                   
        --height: shrink;                 
        --align-x: center;              
        --align-y: center;            
      }
    }

    .rows {
      color: #cd0be3;         
      background: #ffdb23;    
      border-color: #aae36a;  
      border-width: 30px;     
      border-radius: 2.0%;    
      padding: 15px;          

      .row {
        padding: 10px;          
        background: #ffffff;    
        border-radius: 0;       
        border-width: 3px;      
        color: #ff0000;         
        border-color: #1aff00;  
        --width: shrink;        
        --height: shrink;       
        --align-x: left;        
        --align-y: center;      

        .title {
          background: #dcfff5;    
          border-radius: 2%;      
          border-width: 1px;      
          color: #f30000;         
          border-color: #fc0000;  
          padding: 10px;          
          --width: shrink;        
          --height: shrink;       
          --align-x: right;
          --align-y: center;
        }

        .description {
          background: #16fab8;    
          border-radius: 2%;      
          border-width: 1px;      
          color: #e50f0f;         
          border-color: #cefc00;  
          padding: 10px;          
          --width: shrink;        
          --height: shrink;       
          --align-x: right;
          --align-y: center;
        }

        .icon {
          background: #df46f1;      
          border-radius: 0%;        
          border-width: 0px;        
          color: #ffdb23;           
          border-color: #ff0000;    
          padding: 0;               
          --width: shrink;          
          --height: fill;           
          --align-x: left;          
          --align-y: top;           
        }
      }

      .row-selected {
        background: #439165;     
        --width: shrink;         
        --height: shrink;        
      }
    }
  }
}
