onagre {
    font-family: "Fira Code";
    font-size: 30px;
    icon-theme: "Arc";
    icon-size: 24px;
    height: 300px;
    width: 800px;
    background: #e30b0b;
    color: #efe6e6;
    border-color: #efe6e6;
    border-width: 2px;
    border-radius: 2%;

    row {
        background: #efe6e6;
        color: #efe6e6;
        border-color: #efe6e6;
        border-width: 2px;
        border-radius: 2%;
    }
}
